@import url(https://fonts.bunny.net/css?family=amarante:400|angkor:400);
@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background: #0f1329;
  /* background: #0f1629; */
  /* background: #1d2a32; */
  /* background: #072848; */
  overflow: hidden;
}

@layer components {
  .neonText {
    color: #fff;
    text-shadow: 0 0 15px #2cb39d, 0 0 20px #2ca6b3, 0 0 30px #10647e,
      0 0 40px #000101;
  }
  .neonTextOnPointerDown {
    color: #fff;
    text-shadow: 0 0 15px #fff, 0 0 20px #accfd6, 0 0 30px #7fb8c9,
      0 0 40px #2c83b3;
  }
  .neonTextWorldTour {
    color: #fff;
    text-shadow: 0 0 2px #fff, 0 0 6px #accfd6, 0 0 12px #7fb8c9,
      0 0 15px #96b8c9;
  }
  .neonTicket {
    color: #fff;
    text-shadow: 0 0 15px #2cb360, 0 0 20px #2c83b3, 0 0 30px #10647e,
      0 0 40px #000101;
  }
  .neonTicketBorder {
    /* border-radius: 45%; */
    border-width: 2px;
    border-color: 0 0 15px #2cb360, 0 0 20px #2c83b3, 0 0 30px #10647e,
      0 0 40px #000101;
  }
}
