@import url(https://fonts.bunny.net/css?family=amarante:400|angkor:400);
@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  /* background: #00001a; */
  background: #10121d;
  /* background: #1c1f32; */
  /* background: #0f1629; */
  /* background: #1d2a32; */
  /* background: #072848; */
  overflow: hidden;
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 47.4% 11.2%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 47.4% 11.2%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 100% 50%;
    --destructive-foreground: 210 40% 98%;

    --ring: 215 20.2% 65.1%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 224 71% 4%;
    --foreground: 213 31% 91%;

    --muted: 223 47% 11%;
    --muted-foreground: 215.4 16.3% 56.9%;

    --accent: 216 34% 17%;
    --accent-foreground: 210 40% 98%;

    --popover: 224 71% 4%;
    --popover-foreground: 215 20.2% 65.1%;

    --border: 216 34% 17%;
    --input: 216 34% 17%;

    --card: 224 71% 4%;
    --card-foreground: 213 31% 91%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 1.2%;

    --secondary: 222.2 47.4% 11.2%;
    --secondary-foreground: 210 40% 98%;

    --destructive: 0 63% 31%;
    --destructive-foreground: 210 40% 98%;

    --ring: 216 34% 17%;

    --radius: 0.5rem;
  }
}

@layer components {
  .shadow1 {
    text-shadow: 1px 5px 2px #000000;
  }
  .shadow2 {
    text-shadow: 0px 3px 2px #324e50;
  }
  .neonText {
    color: #fff;
    text-shadow: 0 0 15px #2cb39d, 0 0 20px #2ca6b3, 0 0 30px #10647e,
      0 0 45px #000000;
  }
  .neonTextOnPointerDown {
    color: #fff;
    text-shadow: 0 0 15px #fff, 0 0 20px #accfd6, 0 0 30px #7fb8c9,
      0 0 40px #2c83b3;
  }
  .neonTextWorldTour {
    color: #fff;
    text-shadow: 0 0 2px #fff, 0 0 6px #accfd6, 0 0 12px #7fb8c9,
      0 0 15px #96b8c9;
  }
  .neonTicket {
    color: #fff;
    text-shadow: 0 0 15px #2cb360, 0 0 20px #2c83b3, 0 0 30px #10647e,
      0 0 40px #000101;
  }
  .neonTicketBorder {
    /* border-radius: 45%; */
    border-width: 2px;
    border-color: 1px 1px 2px #fff, 0 0 15px #2cb360, 0 0 20px #2c83b3,
      0 0 30px #10647e, 0 0 40px #000101;
  }
  .neonTextBlack {
    color: #fff;
    text-shadow: 0 0 15px #121c1a, 0 0 20px #2ca6b3, 0 0 30px #081f27,
      0 0 40px #000101;
  }
  .neonBuy {
    color: #ffffff;
    text-shadow: 1px 1px 2px #fff, 0 0 15px #81d8c9, 0 0 20px #5fb5be,
      0 0 30px #61afc7, 0 0 40px #000101;
  }
  .neonBuyHover {
    color: #fff;
    text-shadow: 1px px 0px #000000, 0 0 15px #2cb39d, 0 0 20px #2ca6b3,
      0 0 30px #10647e, 0 0 45px #000000;
  }
  .neonTickets {
    text-shadow: 1px 5px 2px #000000, 0 0 0px #81d8c9, 0 0 0px #5fb5be,
      0 0 0px #61afc7;
  }
}

/* @layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
} */
